.input
  border: none
  background: transparent
  color: #333
  min-height: 40px
  width: 100%

  &__title
    letter-spacing: 1px

  &__description
    font-family: 'Monospace'

  &:active
    border: none

*:focus
    outline: 0

