.header
  background: inherit
  margin: 25px 0px 15px 15px
  box-sizing: border-box
  vertical-align: middle
  font-family: 'ETBembo'

  &:after
    content: ""
    display: table
    clear: both

  &__logo
    color: #fff
    font-weight: bold
    font-size: 24px
    letter-spacing: 1px
    display: inline
