.header
  background: inherit
  margin: 25px 0px 15px 15px
  box-sizing: border-box
  font-family: 'ETBembo'

  &:after
    content: ""
    display: table
    clear: both

  &__logo
    color: #fff
    font-weight: bold
    font-size: 24px
    letter-spacing: 1px
    display: inline

  &__button-block
    float: right
    padding-right: 25px

  &__button
    border: none
    background: transparent
    color: #fff
    padding: 2px 2px
    transition: all .3s ease-in-out
    font-size: 24px
    font-weight: bold

    &:hover
      color: #002240
