.header
  background: inherit
  margin: 25px 0px 15px 15px
  box-sizing: border-box
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  vertical-align: middle

  &:after
    content: ""
    display: table
    clear: both

  &__link
    color: #3078ca
    font-weight: 200
    font-size: 14px
    text-decoration: none
    padding: 0

  &__logo
    color: #fff
    font-weight: bold
    font-size: 24px
    display: inline
