.note
  padding: 10px
  padding-left: 30px
  margin-top: 80px
  font-family: 'ETBembo'

  .note__title
    margin-bottom: 15px
    font-size: 26px
    font-weight: bold
    border-bottom: 1px solid #eee
    padding-bottom: 5px

  .note__description
    font-size: 14px
    margin-bottom: 15px
    line-height: 24px
